*
{
    padding:0;
    margin:0;
}
body
{
    background-color: white;
    font-family: Arial,Tahoma,Bitstream Vera Sans,sans-serif;
    overflow: hidden;
}
.top-header
{
    background-color: white;
    text-align: center;
    padding: 0.1em;
    margin: 8px 8px;
    text-decoration: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: inherit;
}
/*setting up main logo*/
.logo img
{
    padding:0.5em;
    max-width: 100%;
    width: 160px;
    top:0;
    left:0;
}
.mainmenu li
{
  display: inline;
  text-decoration: none;
  color: black;
  padding: 1em;
  text-align: center;
}
.mainmenu a 
{
  text-decoration: none;
  color: black;
  font-size: 17px;
}
/*Top image set*/
.top_image img 
{
  max-width: 100%;
  width: 2560px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
.overviewsection
{
    display: grid;
    grid-template-rows: 1fr;
    padding:0.75em;
    border-radius:0.5em;
    box-shadow: 0.25em, 0.25em 0 black;
}
h2
{
    color: #000a12;
    font-size:24px;
    font-weight:700;
    line-height: 28px;
}
.subsection
{
    font-size: 14px;
    line-height: 20px;
    color: #4a4a4a;
    text-align: left;
}
.parent-section
{
  padding:1em;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    /*max-width: 20em;*/
    margin: auto;
}
.child_subsection
{
  background-color: white;
    display: inline;
    overflow: hidden;
    max-width: 30em;
    margin: 1em 0;
    padding: 0.1em;
    border-radius: 0.5em;
    /*box-shadow: 0.25em 0.25em 0 black;*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.child_subsection a
{
  text-decoration: none;
  color: black;
}
.button-lead
{
  background-color: rgb(223, 160, 160);
}
.parent-lead img
{
  max-width: 100%;
}
}
@media screen and (min-width:320px) {
    body{ font-size :1em;}
    .parent-section{ display: grid;
    grid-template-columns: 1fr ;}
}
@media screen and (min-width:600px){
    .parent-section{ display:grid;
    grid-template-columns: 1fr 1fr ;}
}
@media screen and (min-width: 1024px) {
  .parent-section{ display:grid;
  grid-template-columns: 1fr 1fr 1fr;}
}


